<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./00</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{28,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{30,49},{28,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./01</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{28,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{60,0},{28,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./02</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{26,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{118,0},{26,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./03</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{26,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{60,48},{26,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./04</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{28,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{28,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./05</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{28,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,49},{28,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./06</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{26,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{90,0},{26,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./07</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{26,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{90,49},{26,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./08</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-6}</string>
    <key>spriteSize</key>
    <string>{28,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{30,0},{28,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{146,98}</string>
   <key>textureFileName</key>
   <string>forward_animation_sheet.png</string>
  </dict>
 </dict>
</plist>
