<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./27</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-7}</string>
    <key>spriteSize</key>
    <string>{24,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{30,49},{24,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./28</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-8}</string>
    <key>spriteSize</key>
    <string>{26,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,48},{26,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./29</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-7}</string>
    <key>spriteSize</key>
    <string>{24,45}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{108,49},{24,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./30</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-7}</string>
    <key>spriteSize</key>
    <string>{24,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{84,0},{24,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./31</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-7}</string>
    <key>spriteSize</key>
    <string>{26,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{30,0},{26,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./32</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-8}</string>
    <key>spriteSize</key>
    <string>{28,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{0,0},{28,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./33</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-8}</string>
    <key>spriteSize</key>
    <string>{24,46}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{82,49},{24,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./34</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-7}</string>
    <key>spriteSize</key>
    <string>{24,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{58,0},{24,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./35</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,-7}</string>
    <key>spriteSize</key>
    <string>{24,47}</string>
    <key>spriteSourceSize</key>
    <string>{64,64}</string>
    <key>textureRect</key>
    <string>{{56,49},{24,47}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{134,98}</string>
   <key>textureFileName</key>
   <string>right_animation_sheet.png</string>
  </dict>
 </dict>
</plist>
